.course-select {
  width: 100%;
  position: relative;
  z-index: 10;
  margin-top: 85px;
  padding-bottom: 30px;
  transition: 0.2s;
  left: 0;
}
.course-select .card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.course-select .card-wrap .card-wrap-title {
  color: white;
  font-family: "Ubuntu";
  margin-top: 0;
  margin-bottom: 30px;
  background: #1b1b1b;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  width: 40vh;
  text-align: center;
  border-right: 3px solid #ef0000;
  border-bottom: 3px solid #ef0000;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px black;
  position: relative;
  left: 0;
  right: 0;
}