header {
	width: 100vw;
	height: 60px;
	background: #042463;
	position: fixed;
	z-index: 9999999999;
	box-shadow: 0px 0px 0px #111;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
   top: 0;
	transition: 0.3s;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-right: 5px solid #021330;
	border-bottom: 5px solid #021330;
	.title {
		height: inherit;
		margin: auto;
		top: 0;
		bottom: 0;
		position: absolute;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
		.title-logo {
			height: 40px;
			margin: auto;
			top: 0;
			bottom: 0;
			position: absolute;
		}
		.title-name {
			font-family: "Ubuntu", "Raleway", "Days One", serif;
			color: white;
			font-size: min(30px, 8vw);
			margin: 0;
			position: relative;
			left: 60px;
			line-height: 60px;
		}
	}
	.settings {
		height: 55px;
		width: 55px;
		position: absolute;
		right: 0;
		// background: orange;
		svg {
			color: white;
			height: 35px;
			margin: auto;
         left: 0;
         right: 0;
         bottom: 0;
         top: 0;
         position: absolute;
		}
	}
}
