<div class="scorecard">
   <div class="name">Name Here</div>
   <div class="scorecard-wrap">
      <div class="headers">
          <div class="cell-empty">HOLE</div>
          <div class="tee-head"><span>TEES</span></div>
          <div class="player player0"><input type="text" placeholder="P1 INT" maxlength="3" class="input-p-0-c-NAME"></div>
          <div class="player player1"><input type="text" placeholder="P2 INT" maxlength="3" class="input-p-1-c-NAME"></div>
          <div class="player player2"><input type="text" placeholder="P3 INT" maxlength="3" class="input-p-2-c-NAME"></div>
          <div class="player player3"><input type="text" placeholder="P4 INT" maxlength="3" class="input-p-3-c-NAME"></div>
          <div class="par"><span>PAR</span></div>
          <div class="hcp"><span>HCP</span></div>
      </div>
      
      <div class="databody">
         
      </div>
      
  </div>
</div>