<div class="scorecard">
	<div class="name" *ngIf="activeCourseData">{{ activeCourseData.name }}</div>
	<div class="scorecard-wrap">
		<div class="headers">
			<div class="cell-empty">HOLE</div>
			<div class="tee-head"><span>TEES</span></div>
			<div class="player player0">
				<input
					type="text"
					placeholder="P1 INT"
					maxlength="3"
					class="input-p-0-c-NAME name-input"
					(input)="handleInput($event)"
					(blur)="handleBlur($event)"
					(keydown)="handleKeyDown($event)"
				/>
			</div>
			<div class="player player1">
				<input
					type="text"
					placeholder="P2 INT"
					maxlength="3"
					class="input-p-1-c-NAME name-input"
					(input)="handleInput($event)"
					(blur)="handleBlur($event)"
					(keydown)="handleKeyDown($event)"
				/>
			</div>
			<div class="player player2">
				<input
					type="text"
					placeholder="P3 INT"
					maxlength="3"
					class="input-p-2-c-NAME name-input"
					(input)="handleInput($event)"
					(blur)="handleBlur($event)"
					(keydown)="handleKeyDown($event)"
				/>
			</div>
			<div class="player player3">
				<input
					type="text"
					placeholder="P4 INT"
					maxlength="3"
					class="input-p-3-c-NAME name-input"
					(input)="handleInput($event)"
					(blur)="handleBlur($event)"
					(keydown)="handleKeyDown($event)"
				/>
			</div>
			<div class="par"><span>PAR</span></div>
			<div class="hcp"><span>HCP</span></div>
		</div>

		<div class="databody" (scroll)="handleScroll($event)">
			<!-- First set of 9 (out) -->
			<div *ngFor="let num of [0, 1, 2, 3, 4, 5, 6, 7, 8]" class="data-col data-col-{{ num }}" style="left: {{ num * 25 }}vw">
				<div>{{ num + 1 }}</div>
				<div
					*ngFor="let item of [].constructor(teeCount); let i = index"
					style="color: {{ colors[i] }}; background: {{ activeCourseData.holes[0].teeBoxes[i].teeHexColor }};"
					class="r{{ num + 1 }}"
				>
					{{ activeCourseData.holes[num].teeBoxes[i].yards }}
				</div>
				<div *ngFor="let pl of [0, 1, 2, 3]" class="r{{ pl + 5 }}">
					<input
						type="number"
						maxlength="2"
						class="input-{{ pl }}-c-{{ num }}"
						(input)="handleInput($event)"
						(blur)="handleBlur($event)"
						(keydown)="handleKeyDown($event)"
					/>
				</div>
				<div class="r9" *ngIf="activeCourseData">{{ activeCourseData.holes[num].teeBoxes[0].par }}</div>
				<div class="r10" *ngIf="activeCourseData">{{ activeCourseData.holes[num].teeBoxes[0].hcp }}</div>
			</div>

			<!-- OUT col -->
			<div class="data-col special-col no-seperator-col data-col-OUT" style="left: 225vw">
				<div class="r0">OUT</div>
				<div *ngFor="let item of muted; let i = index" style="color: {{ colors[i] }}; background: {{ muted[i] }}">{{ totals.tees.out[i] }}</div>
				<div *ngFor="let item of [0, 1, 2, 3]; let i = index" class="r{{ item + teeCount }}">{{ Store.players[i].outScore }}</div>
				<div class="r9">{{ totals.par.out }}</div>
				<div class="r10 disabled"></div>
			</div>

			<!-- Second set of 9 (in) -->
			<div *ngFor="let num of [10, 11, 12, 13, 14, 15, 16, 17, 18]" class="data-col data-col-{{ num }}" style="left: {{ num * 25 }}vw">
				<div>{{ num }}</div>
				<div
					*ngFor="let item of [].constructor(teeCount); let i = index"
					style="color: {{ colors[i] }}; background: {{ activeCourseData.holes[0].teeBoxes[i].teeHexColor }};"
					class="r{{ num + 1 }}"
				>
					{{ activeCourseData.holes[num - 1].teeBoxes[i].yards }}
				</div>
				<div *ngFor="let pl of [0, 1, 2, 3]" class="r{{ pl + 5 }}">
					<input
						type="number"
						maxlength="2"
						class="input-{{ pl }}-c-{{ num }}"
						(input)="handleInput($event)"
						(blur)="handleBlur($event)"
						(keydown)="handleKeyDown($event)"
					/>
				</div>
				<div class="r9" *ngIf="activeCourseData">{{ activeCourseData.holes[num - 1].teeBoxes[0].par }}</div>
				<div class="r10" *ngIf="activeCourseData">{{ activeCourseData.holes[num - 1].teeBoxes[0].hcp }}</div>
			</div>

			<!-- IN col -->
			<div class="data-col special-col data-col-IN" style="left: 475vw">
				<div class="r0">IN</div>
				<div *ngFor="let item of muted; let i = index" style="color: {{ colors[i] }}; background: {{ muted[i] }}">{{ totals.tees.in[i] }}</div>
				<div *ngFor="let item of [0, 1, 2, 3]; let i = index" class="r{{ item + teeCount }}">{{ Store.players[i].inScore }}</div>
				<div class="r9">{{ totals.par.in }}</div>
				<div class="r10 disabled"></div>
			</div>

			<!-- TOTAL col -->
			<div class="data-col data-col-TOTAL" style="left: 500vw">
				<div class="r0">TOTAL</div>
				<div
					*ngFor="let item of muted; let i = index"
					style="color: {{ colors[i] }}; background: {{ activeCourseData.holes[0].teeBoxes[i].teeHexColor }}"
				>
					{{ totals.tees.total[i] }}
				</div>
				<div *ngFor="let item of [0, 1, 2, 3]; let i = index" class="r{{ item + teeCount }}">{{ Store.players[i].totalScore }}</div>
				<div class="r9">{{ totals.par.total }}</div>
				<div class="r10 disabled"></div>
			</div>

			<!-- HCP col -->
			<div class="data-col data-col-HCP" style="left: 525vw">
				<div>HCP</div>
				<div *ngFor="let item of [].constructor(teeCount); let i = index" class="r{{ i }} disabled"></div>
				<div *ngFor="let pl of [0, 1, 2, 3]" class="r{{ pl + 5 }}">
					<input
						type="number"
						maxlength="2"
						class="input-{{ pl }}-c-HCP"
						(input)="handleInput($event)"
						(blur)="handleBlur($event)"
						(keydown)="handleKeyDown($event)"
					/>
				</div>
				<div class="r9 disabled"></div>
				<div class="r10 disabled"></div>
			</div>

			<!-- NET col -->
			<div class="data-col data-col-NET" style="left: 550vw">
				<div>NET</div>
				<div *ngFor="let item of [].constructor(teeCount); let i = index" class="r{{ i }} disabled"></div>
				<div *ngFor="let pl of [0, 1, 2, 3]" class="r{{ pl + 5 }}">{{ Store.players[pl].net }}</div>
				<div class="r9 disabled"></div>
				<div class="r10 disabled"></div>
			</div>
		</div>
	</div>

	<div class="scorecard-nav">
		<button class="nav-btn btn-l" (click)="navL()">
			<svg viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M21.33,0H2.67A2.66,2.66,0,0,0,0,2.67V21.33A2.67,2.67,0,0,0,2.67,24H21.33A2.66,2.66,0,0,0,24,21.33V2.67A2.66,2.66,0,0,0,21.33,0M17,18.12,15.05,20l-8-8,8-8L17,5.88,10.83,12Z"
				/>
			</svg>
		</button>
		<button class="align" (click)="alignCols()">
			<svg viewBox="0 0 24 24">
				<path
					fill="currentColor"
					class="cls-1"
					d="M21.47,0H2.53A2.53,2.53,0,0,0,0,2.53V21.47A2.53,2.53,0,0,0,2.53,24H21.47A2.53,2.53,0,0,0,24,21.47V2.53A2.53,2.53,0,0,0,21.47,0ZM5.57,15.68V12.92H1.89V11.08H5.57V8.32L9.24,12Zm7.35,3.67H11.08V4.65h1.84Zm9.19-6.43H18.43v2.76L14.76,12l3.67-3.68v2.76h3.68Z"
				/>
			</svg>
		</button>
		<button class="nav-btn btn-r" (click)="navR()">
			<svg viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M21.33,0H2.67A2.66,2.66,0,0,0,0,2.67V21.33A2.67,2.67,0,0,0,2.67,24H21.33A2.66,2.66,0,0,0,24,21.33V2.67A2.66,2.66,0,0,0,21.33,0M9,20l-1.9-1.88L13.17,12,7.05,5.88,9,4l8,8Z"
				/>
			</svg>
		</button>
	</div>
</div>
